// Colors
$c-greedy-nav-bg-color: #4792ba !default;	// Background color
$c-greedy-nav-lnk-color: #fff !default;	// Text color
$c-greedy-nav-lnk-bg-color: #4792ba !default;	// Menu item background color
$c-greedy-nav-overflow-list-bg-color: #3881aa !default;	// Overflow list background color

// Layout
$c-greedy-nav-inner-width: 980px;
$c-greedy-nav-items-alignment: flex-start !default; //  flex-start, center or flex-end
$c-greedy-nav-side-padding: 5px !default;
$c-greedy-nav-space-between-items: 0 !default;
$c-greedy-nav-bullet-size: inherit !default;
$c-greedy-nav-space-between-bullets: 2px !default;

.c-greedy-nav {
  display: flex;
  justify-content: space-between;
  max-width: $c-greedy-nav-inner-width;
  padding-top: 2px;
  width: 100vw;

  &__btn {
    appearance: none;
    background-color: transparent;
    border: 0;
    outline: 0;
    white-space: nowrap;
  }

  &__bullet {
    font-size: $c-greedy-nav-bullet-size;

    &:nth-of-type(1n + 2) {
      margin-left: $c-greedy-nav-space-between-bullets;
    }
  }

  &__fixed {
    display: flex;
  }

  &__greedy {
    display: flex;
  }

  &__item {
    display: flex;
    justify-content: center;
  }

  &__list {
    display: flex;
    flex: 0 1 auto;
    list-style: none;
    margin: 0;
    padding: 0;

    > .c-greedy-nav__item:nth-of-type(1n + 2) {
      margin-left: $c-greedy-nav-space-between-items;
    }
  }

  &__link {
    color: $c-greedy-nav-lnk-color;
    flex: 1 1 auto;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease-in-out;
    white-space: nowrap;

    &:active,
    &:hover,
    &--selected {
      background: $c-greedy-nav-lnk-color;
      color: $c-greedy-nav-lnk-bg-color;
    }
  }

  &__overflow-list {
    background-color: $c-greedy-nav-overflow-list-bg-color;
    border: 2px solid $c-greedy-nav-bg-color;
    border-top: 0;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 100%;
  }
}

.l-greedy-nav {
  background: $c-greedy-nav-bg-color;
  display: flex;
  justify-content: center;
  padding: 0 $c-greedy-nav-side-padding;

  &__item {
    display: flex;
    position: relative;
  }
}

.s-greedy-nav-hidden {
  display: none;
}
